!!! 5
%html
  %head
    %title Thank You
    %link{href: "ionic.css", rel: "stylesheet", type: "text/css"}
    %link{href: "ionicons.css", rel: "stylesheet", type: "text/css"}
    %meta{content: "width=device-width, user-scalable=no, minimal-ui", name: "viewport"}
  %body
    .bar.bar-header.bar-stable
      %h1.title Thank You!
    %div{class: "content.has-header.padding", style: "padding-right: 6px; padding-left: 6px;"}
      .row{align: "center", style: "padding-bottom: 2px; padding-top: 44px;"}
        .col
          %img{src: "logo.png"}
      .row
        %div{class: ".col.col-50", align: "center"}
          %p You'll be hearing from us soon!
          %p #{@scope}
          %a{href: '/thankyou', style: "text-decoration: none"}
            %button{class: "button button-block button-positive"}See another quote!