/* CSS declarations go here */

body
    background-color #f0f0f0
*
    font-family sans-serif
    font-weight 300
    font-size 14px

h1
    font-size 30px
    border-bottom #ddd solid 1px
    padding 10px
    margin-bottom 50px

input[type='text']
    border #bbb solid 1px
    height 30px
    padding-left 10px
    border-radius 3px

input[type='button']
    border #08f solid 1px
    background-color #acf
    padding 8px
    color #357
    border-radius 3px

.light
    color #aaa
    padding 10px

.infobox
    width 320px
    border #ddd solid 1px
    padding 20px
    line-height 20px
    word-spacing 2px
    border-radius 3px
    background-color #fff
    box-shadow 0 0 15px #ddd


